@model Shop.Business.Models.ProductViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Product</h1>

<hr />
<div class="text-white row">
    <div class="text-white col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-white text-danger"></div>
            <div class="text-white form-group">
                <label asp-for="Title" class="text-white control-label"></label>
                <input asp-for="Title" class=" form-control" />
                <span asp-validation-for="Title" class="text-white text-danger"></span>
            </div>
            <div class="text-white form-group">
                <label asp-for="Description" class="text-white control-label"></label>
                <input asp-for="Description" class=" form-control" />
                <span asp-validation-for="Description" class="text-white text-danger"></span>
            </div>
            <div class="text-white form-group">
                <label asp-for="Status" class="text-white control-label"></label>
                @Html.DropDownList("Status",
                                   Html.GetEnumSelectList(typeof(Shop.Domain.Entities.ProductStatus)),
                                   new { @class = "form-control"})
                <span asp-validation-for="Status" class="text-white text-danger"></span>
            </div>
            <div class="text-white form-group">
                <label asp-for="CategoryId" class="text-white control-label"></label>
                @Html.DropDownList("CategoryId",
                                   (IEnumerable<SelectListItem>)ViewData["Categories"],
                                   new { @class = "form-control"})
                <span asp-validation-for="Description" class="text-white text-danger"></span>
            </div>
            <br />
            <div class="text-white form-group">
                <input type="submit" value="Save" class="text-white btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
