@model Shop.Business.Models.OrderViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create Order</h1>

<hr />
<div class="text-white row">
    <div class="text-white col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-white text-danger"></div>
            <div class="text-white form-group">
                <label asp-for="Customer" class="text-white control-label"></label>
                @Html.DropDownList("CustomerId",
                                   (IEnumerable<SelectListItem>) ViewData["Customers"],
                                   "Choose",
                                   new { @class = "form-control" })
                <span asp-validation-for="CustomerId" class="text-white text-danger"></span>
            </div>
            <div class="text-white form-group">
                <label asp-for="Product" class="text-white control-label"></label>
                @Html.DropDownList("ProductId",
                                   (IEnumerable<SelectListItem>) ViewData["Products"],
                                   "Choose",
                                   new { @class = "form-control" })
                <span asp-validation-for="ProductId" class="text-white text-danger"></span>
            </div>
            <div class="text-white form-group">
                <label asp-for="Quantity" class="text-white control-label"></label>
                <input asp-for="Quantity" class=" form-control" min="1" />
                <span asp-validation-for="Quantity" class="text-white text-danger"></span>
            </div>
            <br />
            <div class="text-white form-group">
                <input type="submit" value="Create" class="text-white btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
