@using Shop.Domain.Entities
@model Shop.Business.Models.CategoryViewModel

@{
	ViewData["Title"] = "Edit";
}

<h1>Edit Category</h1>

<hr />
<div class="text-white row" onload="Change()">
	<div class="text-white col-md-4">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-white text-danger"></div>
			<div class="text-white form-group">
				<label asp-for="Title" class="text-white control-label text-white"></label>
				<input asp-for="Title" class="form-control" />
				<span asp-validation-for="Title" class="text-white text-danger"></span>
			</div>
			<div class="text-white form-group">
				<label asp-for="Status" class="text-white control-label text-white"></label>

				@Html.DropDownList("Status",
				Html.GetEnumSelectList(typeof(CategoryStatus)),
				new { @class = "form-control", @onchange="Change()"})

				<span asp-validation-for="Status" class="text-white text-danger"></span>
			</div>
			<div class="text-white form-group">
				<label asp-for="IsDefault" class="text-white control-label text-white"></label>

				@Html.DropDownList("IsDefault",
				Html.GetEnumSelectList(typeof(IsDefault)),
				new { @class = "form-control"})

				<span asp-validation-for="IsDefault" class="text-white text-danger"></span>
			</div>
			<br />
			<div class="text-white form-group">
				<input type="submit" value="Save" class="text-white btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
	<script type="text/javascript">
		function Change() {
			var status = document.getElementById("Status")
			if (status.value == 1) {
				var defaultStatus = document.getElementById("IsDefault")
				document.getElementById("IsDefault").setAttribute("readonly", "true")
				document.getElementById("IsDefault").setAttribute("style", "pointer-events: none;")
				defaultStatus.value = 1
			}
			else {
				document.getElementById("IsDefault").removeAttribute("readonly")
				document.getElementById("IsDefault").removeAttribute("style")
			}
		}
	</script>
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	}
