<ul class="text-white navbar-nav" *ngIf="isAuthenticated | async">
    <li class="text-white nav-item">
        <a  class="text-white nav-link text-dark" [routerLink]='["/authentication/profile"]' title="Manage">Hello {{ userName | async }}</a>
    </li>
    <li class="text-white nav-item">
        <a  class="text-white nav-link text-dark" [routerLink]='["/authentication/logout"]' [state]='{ local: true }' title="Logout">Logout</a>
    </li>
</ul>
<ul class="text-white navbar-nav" *ngIf="!(isAuthenticated | async)">
  <li class="text-white nav-item">
        <a class="text-white nav-link text-dark" [routerLink]='["/authentication/register"]'>Register</a>
    </li>
    <li class="text-white nav-item">
        <a class="text-white nav-link text-dark" [routerLink]='["/authentication/login"]'>Login</a>
    </li>
</ul>
