@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="align-content-center">Are you searching for a shop with products like asdasdasd and ksdnvlrmfslkdf? You are at the right place!</p>
</div>
