@using Shop.Domain.Entities
@model Shop.Business.Models.CustomerViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-white text-white">Edit Account</h1>

<hr />
<div class="text-white row">
    <div class="text-white col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-white text-danger text-white"></div>
            <div class="text-white form-group">
                <label asp-for="FirstName" class="text-white control-label text-white"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-white text-danger"></span>
            </div>
            <div class="text-white form-group">
                <label asp-for="LastName" class="text-white control-label text-white"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-white text-danger"></span>
            </div>
            <div class="text-white form-group">
                <label asp-for="Username" class="text-white control-label text-white"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-white text-danger"></span>
            </div>
            <div class="text-white form-group">
                <label asp-for="Password" class="text-white control-label text-white"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-white text-danger"></span>
            </div>
            <div class="text-white form-group">
                <label asp-for="Email" class="text-white control-label text-white"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-white text-danger"></span>
            </div>
            <div class="text-white form-group">
                <label asp-for="UserType" class="text-white control-label text-white"></label>
                @Html.DropDownList("UserType",
                                   Html.GetEnumSelectList(typeof(UserType)),
                                   new { @class = "form-control" } )
                <span asp-validation-for="UserType" class="text-white text-danger"></span>
            </div>
            <br />
            <div class="text-white form-group">
                <input type="submit" value="Save" class="text-white btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
